$mobile: '768px';
$blue: #1B93AD;

html, body {
  margin: 0px;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.customTheme {
  background: #222;
  color: white;
  border: 1px solid transparent;
  &:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
  }
}